[Desktop Entry]
Type=Application
Name=abilithic DHC
Comment=Defensive Hardening Competition
Exec=/usr/bin/python3 /opt/abilithic-agent/kiosk.py
Icon=/opt/abilithic-agent/kiosk/abilithic-icon.png
Terminal=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Del